DEBUG=True
CRYPTO_KEY=secret_key
ENVIRON=local

DB_SCHEMA=postgresql+asyncpg
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=
DB_HOST=

# настройки для firebase.
FIREBASE_JSON_CONF=путь/до/файла/конфигурации.json
PROJECT_ID=

RABBIT_USER=
RABBIT_PASS=
RABBIT_PORT=
RABBIT_VHOST=
RABBIT_HOST=

REDIS_HOST=
REDIS_USER=
REDIS_PASS=
REDIS_PORT=
REDIS_DB_TOKEN=0